@model IEnumerable<AllArtEventViewModel>
@{
    ViewData["Title"] = "Арт клас - обучение";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">Няма предстоящи обучения!</h2>
}

else
{
    <div class="row">
        @foreach (var e in Model)
        {
            <div class="container" style="display:inline">
                <div class="row">
                    <div class="col-20">
                        <img class="card-img-top" style="width: 100%;"
                             src="@e.ImageAddress" alt="Picture Image">
                    </div>
                    <div class="card col-6 border-0">
                        <p class="h2"><u>@e.Name</u></p>
                        <p></p>
                        <p class="h5">Начало на събитието: <b>@e.Start</b></p>
                        <p></p>
                    </div>
                    <p></p>
                    <a asp-controller="ArtEvent" asp-action="Details" asp-route-id="@e.Id" class="btn btn-warning col-1 p-2 fw-bold border-2">Детайли</a>
                </div>
            </div>
            <br />
        }
    </div>
    <br />
    <br />
    <p class="h5"> Участвайте в конкурс за детска рисунка: <a href="https://www.facebook.com/malkitehudojniciVN"> <img src="\lib\images\icons8-facebook-48.png"> </a></p>

}