@using ArtGallery.Services.Data.Interfaces;
@using ArtGallery.Web.Infrastucture.Extensions
@model DetaisArtEventViewModel

@inject IArtEventService ArtEventService
@{
    int participantCount = await ArtEventService.GetCountOfParticipantAsync(Model.Id);

    ViewData["Title"] = "Детайли за обучението";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="container" style="display:inline">
        <div class="row">
            <div class="col-20">
                <img class="card-img-top" style="width: 100%;"
                     src="@Model.ImageAddress" alt="Picture Image">
            </div>
            <div class="card col-6 border-0">
                <p class="h2"><u>@Model.Name</u></p>
                <p></p>
                <p class="h5">Начало на обучението: <b>@Model.Start</b></p>
                <p></p>
                <p></p>
                <p class="h5">Място на обучението: <b>@Model.Place</b></p>
                <p></p>
                <p></p>
                <p class="h5">Описание на обучението: <b>@Model.Description</b></p>
                <p></p>
                <div>
                    @if (participantCount > 1)
                    {
                        <p class="h5"> За обучението се записаха : @participantCount човека</p>
                    }
                    else if (participantCount < 1)
                    {
                        <p class="h5">Няма записани хора за това събитие</p>
                    }
                    else
                    {
                        <p class="h5"> За обучението се записа : @participantCount човек</p>
                    }
                </div>
                @if (User.IsAdmin())
                {
                    <form class="mt-2" asp-controller="ArtEvent" asp-action="Delete" asp-route-id="@Model.Id">
                        <div>
                            <input type="submit" value="Изтрий"
                                   class="btn btn-danger m-2" onclick="return confirm('Наистина ли искате да изтриете това обучение ?')" />
                        </div>
                    </form>
                }
                <div class="d-inline-flex">
                    <form class="mt-2" asp-controller="ArtEvent" asp-action="Join" asp-route-id="@Model.Id">
                        <div>
                            <input type="submit" value="Запиши се" class="btn btn-success m-2 border-2" onclick=" return confirm('Успешно се записахте за това обучение !')" />
                        </div>
                    </form>
                    <form class="mt-2" asp-controller="ArtEvent" asp-action="Leave" asp-route-id="@Model.Id">
                        <div>
                            <input type="submit" value="Отпиши се" class="btn btn-success m-2 border-2" onclick=" return confirm('Желаете да се отпишете от това обучение ?')" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>