@using ArtGallery.Web.Infrastucture.Extensions
@model AllPictureViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageAddress" alt="Picture Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>

            <a asp-controller="Picture" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Детайли</a>

            @if (this.User.IsAdmin())
            {
                <a asp-controller="Picture" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Редактирай</a>
                <form class="mt-2" asp-controller="Picture" asp-action="Delete" asp-route-id="@Model.Id">
                    <div>
                        <input type="submit" value="Изтрий" 
                               class="btn btn-danger mb-2" onclick="return confirm('Наистина ли искате да изтриете картината')" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>