@using ArtGallery.Web.Infrastucture.Extensions
@model DetailsExhibitionsViewModel
@{
    ViewData["Title"] = "Детайли за изложбата";
}

<h2 id="title" class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="container" style="display:inline">
        <div class="row">
            <div class="col-20">
                <img class="card-img-top" style="width: 100%;"
                     src="@Model.ImageUrl" alt="Picture Image">
            </div>
            <div class="card col-6 border-0">
                <p class="h2"><u>@Model.Name</u></p>
                <p></p>
                <p class="h5">Начало на изложбата: <b>@Model.Start</b></p>
                <p></p>
                <p></p>
                <p class="h5">Край на изложбата: <b>@Model.End</b></p>
                <p></p>
                <p></p>
                <p class="h5">Място на изложбата: <b>@Model.Place</b></p>
                <p></p>
                <p></p>
                <p class="h5">Описание на изложбата: <b>@Model.Description</b></p>
                <p></p>
                @if (User.IsAdmin())
                {
                    <form class="mt-2" asp-controller="Exhibition" asp-action="Delete" asp-route-id="@Model.Id">
                        <div>
                            <input type="submit" value="Изтрий"
                                   class="btn btn-secondary mb-2" onclick="return confirm('Наистина ли искате да изтриете тази изложба ?')" />
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>