@model AllPictureQueryModel
@{
    ViewData["Title"] = "Галерия";
}

<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label id="title" asp-for="Category">Категория</label>
                <select asp-for="Category" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label id="title" asp-for="PicturesPerPage"></label>
                <select asp-for="PicturesPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label id="title" asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label id="title" asp-for="PictureSorting"></label>
                <select asp-for="PictureSorting" class="form-control">
                    <option value="0">Най-нови</option>
                    <option value="1">Най-стари </option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>
        </div>
    </div>
</form>


@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalPictures /
        Model.PicturesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Picture"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.PictureSorting)"><<</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Pictures.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-secondary
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Picture"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.PictureSorting)">>></a>
    </div>
</div>

@if (!Model.Pictures.Any())
{
    <h2 id="title" class="text-center">Няма намерени картини!</h2>
}

<div class="row">
    @foreach (var picture in Model.Pictures)
    {
        <partial name="_PicturePartial" model="@picture" />
    }
</div>