@model DetailsPictureViewModel;

@{
    ViewBag.Title = "Детайли на картината";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-5">
            <img class="card-img-top" style="width: 25rem;"
                 src="@Model.ImageAddress" alt="Picture Image">
        </div>
        <div class="card col-6 border-0">
            <p class="h2"><u>@Model.Name</u></p>
            <p></p>
            <p class="h5">Размер: <b>@Model.Size</b></p>
            <p></p>
            <p class="h5">Материал: <b>@Model.Material</b></p>
            <p></p>
            <p class="h5">Основа: <b>@Model.ImageBase</b></p>
            <p></p>
            <p class="h5">Описание: <b>@Model.Description</b></p>
            <p></p>
        </div>
        <p></p>
        <div class="card col-10 border-2" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Коментари</h5>
                <p></p>
                @if (Model.Comments.Any())
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="card .bg-light col-18">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p class="h6">Име: @comment.Username</p>
                                    <hr />
                                    <p class ="h6">Коментар: @(comment.Content)<p>
                                </blockquote>
                            </div>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <p>Няма коментари.</p>
                }
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <p>Брой коментари : @Model.Comments.Count()</p>

                    <a asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id"
                       class="btn btn-success">Остави коментар</a>
                }
                else
                {
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Ако искате да оставите коментар</a>
                }
            </div>
        </div>
    </div>
</div>