@model DetailsPictureViewModel;

@{
    ViewBag.Title = "Детайли на картината";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageAddress" alt="Picture Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Размер: <b>@Model.Size</b></p>
            <p>Материал: <b>@Model.Material</b></p>
            <p>Основа: <b>@Model.ImageBase</b></p>
            <p>Описание: <b>@Model.Description</b></p>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Коментари</h5>
                    <p></p>
                    @if (Model.Comments.Count > 0)
                    {
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="card .bg-light col-6">
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>@comment.Username</p>
                                        <p>@(comment.Description)<p>
                                    </blockquote>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Няма коментари.</p>
                    }
                        <p></p>
                    @if (this.User.Identity?.IsAuthenticated ?? false)
                    {
                        <form asp-controller="Comment" asp-action="Send" method="post" class="mb-3">
                        
                            </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>